.header{
    border-style: groove;
    color: darkgoldenrod;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-style: oblique;
    font-size: 55px;
}

div.FrontBox {
    display: block;
    margin:auto;
    border: 3px black;
    padding: 4px;
    width: 100%;

}

a.FrontPage{
    display: block;
    padding: 10px;
    width: 40%;
    color: firebrick;
    background-color: lightcoral;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    border: 3px black;
    border-style: dashed;
    margin: auto;
    margin-bottom: 10px;




}

img.images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto;
    border: 10px blueviolet;
    border-style: double;
}

h3.recipename {
    display: block;
    margin-top: 10px;
    text-align: center;
    text-decoration: underline;
}

div.recipe {
    display: block;
}